.tabs {
  display: flex;
  justify-content: space-around;
}

#first__tab,
#second__tab {
  background-color: gray;
  padding: 10px 30px 10px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
/*Css for Date Start*/
.date__options {
  display: flex;
}
.option__preset{
	margin-bottom: 20px;
}
.date__button {
  margin-top: 20px;
}
/*Css for Date End*/
